.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // by usin low z index we reveal other elements behind it
    z-index: -1;
    opacity: 0.25;


    &__content {
        height: 100%;
        width: 100%;
        // object-fit is similiar to background-size: cover. it will fill the entire parent while still maintaining the aspect ratio
        object-fit: cover;
    }
}